
.lazy {
    background-color: var(--kaBeech-screen-background);
    border-style: solid;
border-radius: 1em;
border-color: var(--kaBeech-main-background);
height: 100%;
width: 100%;
margin: 0.5em;
/* align-self: stretch;
justify-self: stretch; */
/* width: 80vw; */
/* height: 80vh; */
}

