/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/* :root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: #18b6f6;
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
} */

body {
  background-color: #000406;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 20px 20px 40px 20px;
}

/* Copied from pre-qwik site */

* {
  align-items: center;
  justify-content: center;
  text-align: center;
  text-shadow: #050710 0.03em 0.06em;
}

body {
  font-size: 100%;
  font-size: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url(./starry-background.jpg);
  color: #00a0a0;
  margin-top: 2em;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

:link {
  color: #0088ff;
}

:visited {
  color: #004886;
}

img {
  border-radius: 2rem;
  width: 24rem;
  box-shadow:  #050710 0.03em 0.06em;
}

#panel {
  gap: 0.2rem;
}

#contactButton {
  border-radius: 1rem;
  box-shadow:  #050710 0.03em 0.06em;
  text-shadow: #055050 0.03em 0.06em;
  text-decoration: none;
  font-size: 2rem;
  background-color: #009090;;
  color: #cceeff;
  width: 14rem;
  aspect-ratio: 4;
  font-weight: 800;
  margin-bottom: 1rem;
}

#footer {
  margin-top: 0.2rem;
  font-size: 1rem;
}