ol {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: start;
  flex: 1 1 auto;
  max-width: 20em;
}

.screenContents .flex {
  gap: 1em;
  max-width: 48em;
}

td {
  border: 0.5em solid transparent;
}

.nutshell {
  font-size: 1.7rem;
}

.summaryPoint {
  font-size: 2rem;
}

table {
  margin: 2em 0 1em 0;
}
