button {
  /* background-color: var(--kaBeech-screen-background);
  color: var(--kaBeech-screen-foreground); */
  height: 2.5em;
  background-color: transparent;
  border-style: none;
  opacity: 1;
  cursor: pointer;
  margin: 0 1em;
  /* flex: 1 1 auto; */
}

img {
  width: 4em;
  padding: 0.5em;
  /* flex: 1 1 auto; */
}

svg {
  width: 80em;
}

.semitransparent {
  /* background-color: #00000045;
  box-shadow: 0 0em 0.4em 0.05em rgba(0, 0, 0, 0.209),
    0 0em 1.5em 0 rgba(0, 0, 0, 0.085);
  border-radius: 1em;
  padding: 1em; */
}
