.lazy {
  background-color: var(--kaBeech-screen-background-semitransparent);
  border-style: none;
  border-radius: 1em;
  border-color: rgba(23, 129, 86, 0.19);
  border-width: 0.1em;
  box-shadow:
    0 0em 0.5em 0.1em rgba(0, 20, 26, 0.964),
    0 0em 0.4em 0.05em rgba(0, 160, 139, 0.515),
    0 0em 2.5em 0 rgba(1, 90, 125, 0.484);
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: stretch;
  flex-direction: column;
  flex: 1 1 auto;
  justify-self: stretch;
}
