img {
  border-style: solid;
  /* border-color: var(--kaBeech-main-background); */
  border-radius: 1em;
  width: 8em;
  aspect-ratio: 1;
  background-color: var(--kaBeech-main-background);
}

button {
  margin-top: 0.15em;
}
