.lazyButton {
    /* background-color: var(--kaBeech-screen-background);
    color: var(--kaBeech-screen-foreground); */
}

.lazyCancel {
    background-color: var(--kaBeech-cancel);
    color: var(--kaBeech-screen-background);
}

.lazy {
    color: var(--kaBeech-response-text);
}