ol {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: start;
  flex: 1 1 auto;
  max-width: 20em;
}

.screenContents .flex {
  gap: 1em;
  max-width: 48em;
}

td {
  border: 0.5em solid transparent;
}

.noticeTop {
  margin-bottom: 0.2em;
}

.noticeBottom {
  margin-top: 0.2em;
}
