input {
  overflow: visible;
  background-color: rgba(165, 42, 42, 0);
  border-style: none;
  font-size: 1.5rem;
  color: var(--kaBeech-screen-foreground);
}

.iframePlaceholder {
  width: 90%;
  height: 24em;
}

::-webkit-datetime-edit-year-field {
  /* display: none; */
}
::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  background-color: var(--kaBeech-screen-foreground);
}
