.xkcd {
  margin: 1em 0 1em 0;
}

.logo {
  margin: 1em;
}

h1.title {
  margin: 1em 0 0.5em 0;
}

iframe,
.iframePlaceholder {
  width: 90%;
  height: 40rem;
}

#staticPhoto {
  max-width: 90%;
  flex: 1;
}

input {
  overflow: visible;
  background-color: rgba(165, 42, 42, 0);
  border-style: solid;
  border-color: var(--kaBeech-screen-foreground);
  border-radius: 0.2em;
  font-size: 1.5rem;
  color: var(--kaBeech-screen-foreground);
}

@media (max-width: 1400px) {
  iframe,
  .iframePlaceholder {
    height: 24rem;
  }
}

@media (max-width: 800px) {
  iframe,
  .iframePlaceholder {
    height: 24rem;
  }
}

@media (max-width: 520px) {
  input,
  .iframePlaceholder {
    font-size: 1rem;
  }
  iframe {
    height: 18rem;
  }
}

@media (max-width: 346px) {
  input,
  .iframePlaceholder {
    font-size: 0.7rem;
  }
  iframe {
    height: 8rem;
  }
}

::-webkit-inner-spin-button {
  display: none;
}
::-webkit-calendar-picker-indicator {
  background-color: var(--kaBeech-screen-foreground);
}
