.insert {
  background-color: var(--kaBeech-screen-insert);
  padding: 1.5em;
  border-radius: 1.5em;
  max-width: 55%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin: 1em;
}
