.lazyflex {
  display: flex;
  gap: 1em;
}

.lazylogo {
  font-size: 1.5em;
  background-color: black;
  color: aqua;
  padding: 0.5em;
}

.lazyalign {
  align-items: center;
  justify-content: space-between;
}

img {
  border-style: solid;
  border-width: 0.1em;
  /* border-color: linear-gradient(var(--kaBeech-color-beechy-top), var(--kaBeech-color-beechy-bottom)); */
  border-color: rgba(23, 129, 86, 0.19);
  border-radius: 1em;
  box-shadow: 0 0em 0.4em 0.05em rgba(0, 160, 149, 0.362),
    0 0em 2.5em 0 rgba(1, 89, 125, 0.412);
  width: 3.34em;
  aspect-ratio: 1;
  margin: 0.7em 0.5em;
}

li {
  font-size: 1.2em;
}
